# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
.claude
dist
server
tauri.key.pem

# Tauri dev/build outputs
src-tauri/target
src-tauri/gen/schemas
src-tauri/ravn.db

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
