/* Dark Theme */
:root {
  --color-gray-50: oklch(95.82% 0.004 271.37);
  --color-gray-100: oklch(91.68% 0.008 278.63);
  --color-gray-200: oklch(82.89% 0.018 279);
  --color-gray-300: oklch(74.2% 0.029 278.9);
  --color-gray-400: oklch(65.24% 0.039 278.37);
  --color-gray-500: oklch(55.99% 0.05 277.73);
  --color-gray-600: oklch(47.78% 0.042 277.85);
  --color-gray-700: oklch(39.21% 0.034 278.04);
  --color-gray-800: oklch(30.43% 0.022 277.6);
  --color-gray-900: oklch(20.63% 0.012 277.83);
  --color-gray-950: oklch(15.15% 0.009 285.34);

  --color-white: #ffffff;

  --color-blue-50: oklch(96.3% 0.013 254.6);
  --color-blue-100: oklch(92.3% 0.027 254.2);
  --color-blue-200: oklch(85.9% 0.053 253.8);
  --color-blue-300: oklch(76.9% 0.088 253.4);
  --color-blue-400: oklch(67.2% 0.128 253);
  --color-blue-500: oklch(58.7% 0.162 252.6);
  --color-blue-600: oklch(50.5% 0.178 252.2);
  --color-blue-700: oklch(43.4% 0.156 251.8);
  --color-blue-800: oklch(37.1% 0.122 251.4);
  --color-blue-900: oklch(31.8% 0.088 251);
  --color-blue-950: oklch(22.1% 0.058 250.6);

  --color-red-50: oklch(96.5% 0.014 17.4);
  --color-red-100: oklch(93.8% 0.028 17.6);
  --color-red-200: oklch(88.1% 0.056 17.8);
  --color-red-300: oklch(79.8% 0.102 18);
  --color-red-400: oklch(69.4% 0.156 18.2);
  --color-red-500: oklch(62.8% 0.197 18.4);
  --color-red-600: oklch(55.5% 0.196 18.6);
  --color-red-700: oklch(47.2% 0.165 18.8);
  --color-red-800: oklch(40.1% 0.134 19);
  --color-red-900: oklch(35.1% 0.11 19.2);
  --color-red-950: oklch(21.2% 0.072 19.4);

  --color-green-50: oklch(96.5% 0.018 142.5);
  --color-green-100: oklch(92.4% 0.036 142.1);
  --color-green-200: oklch(85.3% 0.071 141.7);
  --color-green-300: oklch(75.7% 0.118 141.3);
  --color-green-400: oklch(65.4% 0.154 140.9);
  --color-green-500: oklch(56.5% 0.157 140.5);
  --color-green-600: oklch(48.2% 0.138 140.1);
  --color-green-700: oklch(40.5% 0.113 139.7);
  --color-green-800: oklch(34.3% 0.089 139.3);
  --color-green-900: oklch(29.4% 0.071 138.9);
  --color-green-950: oklch(18.9% 0.051 138.5);

  --color-yellow-50: oklch(97.3% 0.024 96.8);
  --color-yellow-100: oklch(94.6% 0.058 96.4);
  --color-yellow-200: oklch(89.7% 0.116 96);
  --color-yellow-300: oklch(83.1% 0.167 95.6);
  --color-yellow-400: oklch(76.5% 0.181 95.2);
  --color-yellow-500: oklch(69.7% 0.162 94.8);
  --color-yellow-600: oklch(60.8% 0.133 94.4);
  --color-yellow-700: oklch(50.3% 0.107 94);
  --color-yellow-800: oklch(42.9% 0.089 93.6);
  --color-yellow-900: oklch(37.1% 0.075 93.2);
  --color-yellow-950: oklch(24.3% 0.051 92.8);

  --color-purple-50: oklch(97.1% 0.014 308.1);
  --color-purple-100: oklch(93.7% 0.031 307.7);
  --color-purple-200: oklch(88.4% 0.062 307.3);
  --color-purple-300: oklch(80.3% 0.109 306.9);
  --color-purple-400: oklch(70.5% 0.165 306.5);
  --color-purple-500: oklch(62.1% 0.203 306.1);
  --color-purple-600: oklch(54.8% 0.211 305.7);
  --color-purple-700: oklch(48.3% 0.188 305.3);
  --color-purple-800: oklch(41.5% 0.153 304.9);
  --color-purple-900: oklch(35.5% 0.122 304.5);
  --color-purple-950: oklch(24.5% 0.093 304.1);

  --surface: var(--color-gray-950);
  --background: var(--color-gray-900);
  --elevated: var(--color-gray-700);
  --foreground: var(--color-gray-400);

  --primary: var(--color-gray-50);
  --primary-foreground: var(--color-gray-950);
  --secondary: var(--color-gray-800);
  --secondary-foreground: var(--color-gray-500);

  --card: var(--color-gray-800);
  --accent: var(--color-blue-500);
  --accent-hover: var(--color-blue-700);
  --accent-foreground: var(--color-white);
  --muted: var(--color-gray-600);

  --selection: var(--color-gray-800);
  --selection-foreground: var(--color-gray-50);
  --selection-border: var(--color-gray-900);

  --input: var(--color-gray-800);
  --input-border: transparent;

  --border: var(--color-gray-800);
  --ring: var(--color-blue-500);

  --popover: var(--color-gray-800);
  --popover-foreground: var(--color-gray-400);
  --popover-border: var(--color-gray-700);

  --destructive: var(--color-red-500);
  --destructive-foreground: var(--color-red-200);
  --destructive-background: var(--color-red-800);

  --success: var(--color-green-600);
  --success-foreground: var(--color-green-200);
  --success-background: var(--color-green-800);

  --info: var(--color-blue-600);
  --info-foreground: var(--color-blue-200);
  --info-background: var(--color-blue-800);

  --warning: var(--color-yellow-600);
  --warning-foreground: var(--color-yellow-200);
  --warning-background: var(--color-yellow-800);

  --ai: var(--color-purple-500);
  --ai-foreground: var(--color-purple-200);
  --ai-background: var(--color-purple-800);

  --sidebar-background: var(--background);
  --sidebar-foreground: var(--foreground);
  --sidebar-border: var(--border);
  --sidebar-item-hover-background: var(--selection);
  --sidebar-item-hover-foreground: var(--selection-foreground);
  --sidebar-item-active-background: var(--selection);
  --sidebar-item-active-foreground: var(--primary);
  --sidebar-item-text: var(--muted);

  --toolbar-background: var(--background);

  --tooltip-background: var(--popover);
  --tooltip-foreground: var(--popover-foreground);

  --scrollbar-track: var(--foreground);
  --scrollbar-thumb: var(--foreground);

  --dialog-overlay: var(--surface);
  --dialog-background: var(--background);

  --alert-dialog-overlay: var(--surface);
  --alert-dialog-background: var(--background);

  --selection-background: var(--selection);

  --button-primary-background: var(--primary);
  --button-primary-foreground: var(--secondary);
  --button-primary-hover: var(--primary);

  --button-secondary-background: var(--secondary);
  --button-secondary-foreground: var(--secondary-foreground);

  --button-ai-background: var(--ai);
  --button-ai-foreground: var(--ai-foreground);

  --button-accent-background: var(--accent);
  --button-accent-foreground: var(--color-white);
  --button-accent-hover: var(--accent-hover);

  --button-destructive-background: var(--destructive-background);
  --button-destructive-foreground: var(--destructive);

  --button-warning-background: var(--warning-background);
  --button-warning-foreground: var(--warning);

  --button-outline-border: var(--border);
  --button-outline-foreground: var(--secondary-foreground);
  --button-outline-hover: var(--input);

  --button-ghost-hover: var(--secondary);
  --button-ghost-foreground: var(--secondary-foreground);

  --button-link-foreground: var(--primary);

  --badge-primary-background: var(--primary);
  --badge-primary-foreground: var(--primary-foreground);

  --badge-secondary-background: var(--secondary);
  --badge-secondary-foreground: var(--secondary-foreground);

  --badge-ai-background: var(--ai);
  --badge-ai-foreground: var(--ai-foreground);

  --badge-destructive-background: var(--destructive-background);
  --badge-destructive-foreground: var(--destructive-foreground);

  --badge-accent-background: var(--accent);
  --badge-accent-foreground: var(--accent-foreground);

  --badge-warning-background: var(--warning-background);
  --badge-warning-foreground: var(--warning-foreground);

  --badge-info-background: var(--info-background);
  --badge-info-foreground: var(--info-foreground);

  --badge-success-background: var(--success-background);
  --badge-success-foreground: var(--success-foreground);

  --badge-outline-border: var(--border);
  --badge-outline-foreground: var(--foreground);

  --badge-surface-background: var(--surface);
  --badge-surface-foreground: var(--foreground);
}